@use "./variables" as *;
@use "./mixins" as *;

.accountForm {
    @include flexDefault;
    min-height: 90vh;
    .accountContainer {
        @include flexDefault;
        min-width: 350px;
        background-color: white;
        border-radius: 15px;
        h2 {
        font-size: clamp(1.875rem, 1.5127rem + 1.8116vw, 3.4375rem);
        letter-spacing: 3px;
        }
    }
} 
    
.userForm {
    @include flexDefault;
    input {
        border-radius: 5px;
        border: 2px solid $accentColor;
        font-family: $bodyFont;
        padding: 5px;
        text-align: center;
        width: 25%;
        min-width: 300px;
        font-size: 1.2rem;
        margin-bottom: 30px;
        &:focus {
            border: 2px solid black;
            outline: none;
        }
    }
}

